/*fonts*/
  @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
  @font-face {
    font-family: 'Pacifico';
    src: url('../fonts/pacifico-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-webfont.woff') format('woff');
    /*regular*/
    font-style: normal;

  }

/*all elements*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/*BODY*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
}

/*redifining standart classes of external flex grid elements*/
.row {
  margin: 0;
  width: 100%;
}

[class*='col-'] {
  padding: 15px;
}

.flex-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  /*1170 + left/right paddings (both 15px)*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container#home {
  flex-wrap: wrap;
}

/*header*/
.page-header {
  position: relative;
  min-height: 100vh;
  /*padding-top: 15vh;*/
  background: #f9f8fb url('../img/header-bg.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.header__nav {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  margin: 0;
}

.header__logo {
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 50px;
  line-height: 25px;
}

.header__logo--mini {
  font-size: 25px;
}

.nav__list {
  width: 557px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
}

.nav__link {
  text-decoration: none;
  cursor: auto;
  color: #262626;
}

.nav__link:hover {
  border-top: 3px solid #ff6033;
  padding-top: 10px;
  color: #ff6033;
}

.header__info {
  width: 400px;
  margin-top: 20vh;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  line-height: 40px;
  text-transform: capitalize;
}

.header__description {
  margin: 30px 0;
}

.header__button {
  width: 200px;
  height: 55px;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff6033;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

/*scroll icon*/
.header__scroll {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__link {
  display: block;
  width: 24px;
  height: 40px;
  background: url('../icons/scroll.png') 50% 50% no-repeat;
  background-size: cover;
}

.scroll__link:hover {
  opacity: 0.6;
}

/*about section*/
.about {
  padding: 15px 0;
	background-color: #00c4c4;
	background-image: radial-gradient(circle at 0 0, rgb(0, 196, 196),
                    rgb(0, 183, 183) 32%,
                    rgb(0, 173, 173) 68%,
                    rgb(0, 156, 156)),
                    linear-gradient(rgb(0, 196, 196),
                    rgb(0, 196, 196));
}

.section__photo {
  width: 50%;
  /*padding: 0 15px;*/
}

.section__image {
  /*width: 100%;*/
  /*object-fit: cover;*/
}

/*section info*/
.section__info {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#about .section__info {
  margin-left: 70px;
}

.section__info--light {
  color: #ffffff;
}

.section__info--center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.info__title {
  margin: 0 0 30px 0;
  font-size: 90px;
  font-weight: 700;
  text-transform: capitalize;
}

.info__title--center {
  text-align: center;
}

.info__text {
  margin: 15px 0 0 0;
}

/*services*/
.services {
  padding: 170px 0 140px 0;
  background-color: #70bfff;
}

#services.flex-container {
  background: url('../img/services.png') center right no-repeat;
  background-size: contain;
}

.services__list {
  list-style: none;
  margin: 0 15px 0 115px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sercices__item {
  width: 400px;
  height: 100px;
  margin: 10px 0;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,.5);
  display: flex;
}

.services__link {
  width: 75%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #262626;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.services__link span {
  text-align: center;
}

.services__button::before {
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  background-color: #9d9d9d;
}

.services__button {
  width: 25%;
  padding: 0;
  border: none;
  background: #fff;
  outline: none;
  position: relative;
}

.services__button::before {
  content: '';
  display: block;
  height: 100px;
  width: 1px;
  background: #9d9d9d;
}

.services__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*gallery*/
.gallery {
  padding: 100px 0 120px;
	background-color: #ffe92f;
}

.gallery .section__info {
  width: 600px;
  margin: 0 auto;
  padding: 0;
}

.gallery .info__text {
  margin: 30px 0;
}

.gallery__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  /*overflow: hidden;*/
}

.gallery__item {
  width: 50%;
  padding: 15px;
}

.gallery__item--small {
  width: 33.3333333%;

}

.gallery__item--hero {
  width: 66.6666666%;
}

.gallery__link {
  display: block;
  pointer-events: none;
}

.gallery__picture {
  display: block;
  max-width: 100%;
  /*background: #00c4c4;*/
  /*box-shadow: 0 2px 5px rgba(0,0,0,.5);*/
  /*object-fit: cover;*/
}

.gallery__button {
  display: block;
  margin: 35px auto 0;
  padding: 15px;
  width: 200px;
  height: 55px;
  border: none;
  outline: none;
  background: #5585a2;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/*footer*/
.page__footer {
  height: 90px;
  padding: 15px;
  background-color: #262626;
  color: #b9b9b9;
}

.footer__copyright {
  font-size: 16px;
  line-height: 25px;
}

.footer__info{
  font-size: 15px;
  line-height: 25px;
}

.footer__info span {
  font-weight: 700;
  color: #ff2b58;
}
